.tableContainer {
  
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.tableContainer h2 {
    margin-bottom: 20px;
    color: #2d8144;
}
.actionIcons i:hover{
    color:#2d8144;
    cursor: pointer;
}

.addButton {
    background-color: #2d8144;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-bottom: 15px;
    
}

.addButton:hover {
    background-color: #236832;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 15px;
    margin: 0 10px;
    background-color: #2d8144;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
  }
  
  .pagination button:hover {
    background-color: #236832;
  }
  
  .images{
    width: 50x;
    height: 50px;
  }