.actionIcons i:hover {
  color: #2d8144;
  cursor: pointer;
}

.addButton {
  background-color: #2d8144;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-bottom: 15px;
}

.addButton:hover {
  background-color: #236832;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 15px;
  margin: 0 10px;
  background-color: #2d8144;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #236832;
}

/* New styles for requirement details */
.requirementDetails {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.requirementDetails p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.requirementDetails strong {
  color: #2d8144;
}

/* Styles for the form container */
.formContainer {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.formContainer h2 {
  text-align: center;
  color: #2d8144;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.buttonGroup button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.buttonGroup button[type="reset"] {
  background-color: #d6d6d6;
  color: #333;
}

.buttonGroup button[type="reset"]:hover {
  background-color: #b5b5b5;
}

.buttonGroup button[type="submit"] {
  background-color: #2d8144;
  color: #fff;
}

.buttonGroup button[type="submit"]:hover {
  background-color: #236832;
}