.actionIcons i:hover{
    color:#2d8144;
    cursor: pointer;
}

.addButton {
    background-color: #2d8144;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-bottom: 15px;
    
}

.addButton:hover {
    background-color: #236832;
}